.story {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 5vw, 3rem);
        padding: clamp(2rem, 8vw, 6rem) 0;
        position: relative;
        background-image: url("./assets/cat.svg")
}

.story-text {
        font-size: clamp(1rem, 4vw, 1.75rem);
        font-weight: 400;
}

.story-svg {
        width: 250px;
        height: 250px;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        stroke: var(--color-primary);
        fill: var(--color-primary-hover);
        opacity: 0.5;
        animation: colorShift 4s infinite;
}

@media screen and (min-width: 768px) {


        .thoughts-img {
                max-width: 360px;
        }

        .story-svg {
                width: 600px;
                height: 600px;
        }
}



@media screen and (min-width: 1200px) {
        .thoughts-img {
                max-width: 380px;
        }

        .thouts-content-wrapper {
                flex-direction: row;
        }

        .story-svg {
                width: 800px;
                height: 800px;
        }
}

@keyframes colorShift {
        0% {
                stroke: var(--color-primary);
                fill: var(--color-primary-hover);
        }

        25% {
                stroke: var(--color-primary-hover);
                fill: var(--color-primary);
        }

        50% {
                stroke: var(--color-primary);
                fill: var(--color-primary-hover);
        }

        75% {
                stroke: var(--color-primary-hover);
                fill: var(--color-primary);
        }

        100% {
                stroke: var(--color-primary);
                fill: var(--color-primary-hover);
        }
}